<% include ../partials/header %>

<h1>Sections page</h1>
<h4>Logged in as <%= currentUser.username %></h4>

<ul>
  <% section.posts.forEach(function(post){ %>
    <li><a href="/sections/<%= section._id %>/<%= post._id %>"><%= post.name %></a></li>
  <% }); %>
  <li><a href="/logout">Log out!</a></li>
</ul>

<% include ../partials/footer %>
